@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap");
header {
  background-color: rgba(0, 0, 0, 0.201);
  backdrop-filter: blur(5px);
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}
#txtContainer {
  width: auto;
}
#headerTitle {
  margin: 0 0 0 7vw;
  display: inline;
  color: ghostwhite;
  letter-spacing: 2px;
  font-family: "Montserrat Alternates", sans-serif;
}
#copyrightTxt {
  margin-top: 5px;
  font-family: Blinker;
  letter-spacing: 1px;
  display: inline;
}
#soundButt {
  border: none;
  margin: 0 5vw 0 0;
  padding: 0;
  background: transparent;
  display: inherit;
}
.soundBtnOn:focus {
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px rgba(0, 255, 217, 0.961);
  outline: 2px dotted transparent;
  outline-offset: 2px;
}
.soundBtnOff:focus {
    border-radius: 50%;
    box-shadow: 0 0 0 2px #575757, 0 0 3px 5px #ff2020;
    outline: 2px dotted transparent;
    outline-offset: 2px;
  }
#soundButtImg {
  width: calc(3vw + 3vh);
}
.soundOn:hover {
  cursor: pointer;
  filter: drop-shadow(2px 4px 3px rgb(50, 50, 50));
}
.soundOff {
  filter: invert(1);
}
.soundOff:hover {
  cursor: pointer;
  filter: invert(1) drop-shadow(2px 4px 3px rgb(50, 50, 50));
}

@media screen and (max-width: 411px) {
  header {
    justify-content: space-around;
  }
  #headerTitle {
    margin: 0;
  }
  #soundButt {
    margin: 0;
  }
}
